*.lol
*.nlo
*.nls
*.aux
*.log
*.nav
*.out
*.snm
*.toc
tmp/
*.synctex
*.gz
*.bak
*.bbl
*.blg
*.ilg
*.upa
*.upb
.settings/
*.db
*.bcf
*.vrb
main.pdf
document.pdf
example.pdf
slides.pdf
*.run.xml
*.upa
*.gz
*.bbl
*.blg
*.~*
*.synctex.gz(busy)
~$*
*.tmp
*.lof
*.lot
*.lod
*.sublime-workspace
*bibtex_check.html
*-blx.bib
*.tdo